//estilos main

.container-principal{
    background-color: #FFF447;
    height: 680px;
    padding: 20px;
}

.card-title{
    text-align: center;
    color:#3EB595;
    
}


.card-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card{
    margin-right: 20px;
    width: 200px;
    box-shadow: 1px 1px 5px #000;
    
}

.card:hover{
    transform: rotate(360deg);
    transition: all .8s;
    cursor: pointer;
}

.card-img{
    width: 100px;
    height: 100px;
    align-items: center;
    margin-top: 8px;
    
}

.card-text1{
    font-weight:bold;
    text-align: center;
}

.card-text2{
    color:#3EB595;
    font-weight:bold;
    text-align: center;
}

