//estilos politica de privacidade

.container-privacidade{
    background-color: #FFF447;
    height: 2650px;
    
}

h1, h2,h3{
    text-align: center;
    color:#3EB595;

    padding-bottom: 20px;
}

p,ul,li{
    text-align: center;
    margin: auto;
}